<h1 align="center"><font face="verdana">LINK SHORTENER</font></h1>
<p id="loading"></p>

    <div class="banner b01 center">
      <p id = "p01" align = "center"><font face="verdana">Enter your URL here to get started!</font></p>
          <form action="/urls" method="post" style="text-align: center">
              <input id = "input" type ="text" name="long_url" placeholder="Paste your link here" size="40">
              <input id = "submitbutton" type ="submit" value="CLICK ME!">
          </form>
    </div>
<div id="shorturl"></div>
<div class="error redfont center">
 <% if @failed %>
 Error:
 Please input a valid URL.
 <% end %>
</div>
<p>Total URL submitted: <%= @urls.size %></p>
<p>Your link has been shortened! </p>


<a href="http://localhost:9393/<%= @url.short_url %>">
http://localhost:9393/<%= @url.short_url	%></a></p>




   <tbody>
   </tbody>
 </table>
</div>